* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  text-decoration: none;
  list-style: none;
}

.logo-negro {
  display: none;
}

.logo-blanco img {
  width: 140px;
}

.logo-umbrella_seguridad img {
  width: 140px;
}

.header_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header_container_negro {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header_busqueda {
  display: none;
}

.top-nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #b70f0a;
  color: white;
  height: 50px;
  padding: 1em;
}
.top-nav_negro {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #b70f0a;
  color: white;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
.menu_negro {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu_negro > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-button-container_negro {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}
#menu-toggle_negro {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: white;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button_negro,
.menu-button_negro::before,
.menu-button_negro::after {
  display: block;
  background-color: white;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button_negro::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

.menu-button_negro::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle_negro:checked + .menu-button-container_negro .menu-button_negro::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle_negro:checked + .menu-button-container_negro .menu-button_negro {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

#menu-toggle_negro:checked + .menu-button-container_negro .menu-button_negro::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 767px) {
  .menu-button-container {
    display: flex;
  }
  .menu-button-container_negro {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .menu_negro {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle_negro ~ .menu_negro li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle_negro:checked ~ .menu_negro li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu_negro > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .menu_negro > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
@media (min-width: 768px) {
  .menu > li {
    width: 100px;
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 14px;
  }
  .menu_negro > li {
    width: 100px;
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 14px;
  }
  .top-nav {
    height: 70px;
  }
  .top-nav_negro {
    height: 70px;
  }
}
@media (min-width: 1200px) {
  .header_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 172px;
    border-bottom: #969696 solid 1px;
  }
  .header_container_negro {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 172px;
    border-bottom: #969696 solid 1px;
    background-color: black;
  }
  .menu > li {
    width: 100px;
    text-align: center;
    color: #232222;
    font-weight: 900;
  }
  .menu > li :hover {
    padding-bottom: 16px;
    border-bottom: #606060 solid 1px;
  }
  .menu_negro > li {
    width: 100px;
    text-align: center;
    color: #e2e2e2;
    font-weight: 900;
  }
  .menu_negro > li :hover {
    padding-bottom: 16px;
    border-bottom: #e2e2e2 solid 1px;
  }
  .top-nav {
    background-color: white;
    width: 62.5vw;
    min-width: 1100px;
  }
  .top-nav_negro {
    background-color: black;
    width: 62.5vw;
    min-width: 1100px;
  }
  .header_busqueda {
    display: flex;
    flex-direction: row-reverse;
    background-color: #b70f0a;
    padding: 7px 20px 7px 0px;
  }
  .buscar {
    border: white solid 1px;
    background: #444;
    background: rgba(0, 0, 0, 0.2);
    color: white;
  }
  input {
    background-color: transparent;
    border: 0px;
    float: left;
    color: white;
    padding: 3px;
    width: 150px;
  }
  input:focus {
    outline: transparent;
  }
  button {
    color: white;
    position: relative;
    float: right;
    background-color: transparent;
    border-top: transparent;
    border-right: transparent;
    border-bottom: transparent;
    padding: 3px;
    width: 70px;
    transition-duration: 0.5s;
    transition-property: all;
  }
  button:hover {
    background-color: white;
    color: #b70f0a;
  }
  button:active {
    box-shadow: 0px 0px 12px 0px rgb(225, 225, 225);
  }
  .logo-blanco {
    display: none;
  }
  .logo-negro {
    display: flex;
  }
  .logo-negro img {
    width: 300px;
  }
  .logo-umbrella_seguridad img {
    width: 300px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #b70f0a;
  color: white;
  padding: 20px;
  font-family: "Lato", sans-serif;
  gap: 20px;
}
footer div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-main {
  gap: 20px;
}
.footer-main_datos {
  gap: 20px;
}
.footer-main_redes {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer-main_nav {
  display: none;
}

@media (min-width: 768px) {
  .footer-main_corporacion {
    max-width: 600px;
  }
}
@media (min-width: 1200px) {
  .footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 15px;
    border-bottom: solid white 1px;
  }
  .footer-main_corporacion {
    max-width: 500px;
  }
  .footer-main_datos {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .footer-main_redes {
    flex-direction: column;
  }
  .footer-main_nav {
    display: flex;
    justify-content: center;
    gap: 80px;
  }
  .footer-main_nav li {
    font-weight: 900;
  }
}
.img_principal {
  width: 100%;
  height: 208px;
  background-image: url(/img/img_principal.jpg);
  background-size: cover;
  background-position: right;
  margin-bottom: 50px;
}
.img_principal h3 {
  width: 120px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  color: white;
  text-shadow: 2px 2px 4px rgb(31, 25, 25);
  padding-left: 35px;
  padding-top: 20px;
}
.img_principal h1 {
  color: transparent;
  font-size: 5px;
}

.index_noticias {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #969696;
  border-bottom: 1px solid #969696;
  margin-left: 35px;
  margin-right: 35px;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 10px;
}
.index_noticias h3 {
  font-family: "Lato", sans-serif;
  color: #232222;
  font-size: 24px;
}
.index_noticias p {
  font-family: "Lato", sans-serif;
  color: #606060;
}
.index_noticias span {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #606060;
}
.index_noticias-img {
  display: flex;
  align-items: end;
  max-width: 100%;
  height: 30vh;
  background-image: url("../img/spencer.png");
  background-size: cover;
  background-position: 0px -20px;
}
.index_noticias-img h2 {
  background-color: #b70f0a;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  width: 250px;
  text-align: center;
  padding: 10px 10px;
}

.index_subnoticias {
  display: none;
}

.index_voluntarios {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 35px;
  margin-right: 35px;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.index_voluntarios h2 {
  font-family: "Lato", sans-serif;
  text-align: center;
  color: #b70f0a;
}
.index_voluntarios p {
  font-family: "Lato", sans-serif;
  text-align: center;
  color: #606060;
}
.index_voluntarios span {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 12px;
  color: #606060;
}

.img_voluntarios {
  width: 100%;
  height: 200px;
  background-image: url(../img/voluntarios.png);
  background-size: cover;
}

@media (orientation: landscape) {
  .index_noticias-img {
    height: 350px;
    align-items: end;
  }
}
@media (min-width: 768px) {
  .img_principal {
    height: 250px;
  }
  .img_principal h3 {
    font-size: 28px;
    width: 200px;
    padding-left: 70px;
  }
  .index_noticias {
    margin-left: 50px;
    margin-right: 50px;
  }
  .index_noticias-img {
    height: 40vh;
    align-items: baseline;
  }
  .index_noticias-img h2 {
    font-size: 20px;
    width: 300px;
  }
  .img_voluntarios {
    height: 250px;
  }
  .index_voluntarios {
    margin-left: 70px;
    margin-right: 70px;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  .index_noticias {
    margin-right: 100px;
    margin-left: 100px;
  }
  .index_noticias-img {
    height: 550px;
  }
  .index_voluntarios {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media (min-width: 1200px) {
  .img_principal {
    height: 384px;
    width: 100%;
  }
  .img_principal h3 {
    font-size: 48px;
    width: 450px;
    padding-top: 100px;
    padding-left: 10vw;
  }
  .img_principal-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .index_noticias {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: none 0px;
    border-bottom: none 0px;
    max-width: 750px;
  }
  .index_noticias h3 {
    font-size: 30px;
  }
  .index_noticias-escritorio {
    width: 62.5vw;
    min-width: 1100px;
    max-width: 1200px;
    display: flex;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: #969696 solid 1px;
    border-bottom: #969696 solid 1px;
  }
  .index_noticias-img {
    height: 500px;
    align-items: baseline;
  }
  .index_noticias-img h2 {
    font-size: 24px;
    width: 350px;
  }
  .index_subnoticias {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .index_subnoticias h3 {
    font-family: "Lato", sans-serif;
    font-size: 30px;
    padding-bottom: 25px;
    color: #232222;
  }
  .index_subnoticias span {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    color: #606060;
  }
  .segunda-subnoticia {
    padding-top: 55px;
    padding-bottom: 55px;
    border-top: #969696 solid 1px;
    border-bottom: #969696 solid 1px;
  }
  .contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .index_voluntarios h2 {
    font-size: 40px;
  }
  .index_voluntarios p {
    max-width: 800px;
  }
  .img_voluntarios {
    height: 384px;
    max-width: 1200px;
  }
}
.nuestra-historia_titulo {
  display: none;
}

.img_historia {
  width: 100%;
  height: 208px;
  background-image: url(../img/imghistoria.png);
  background-size: cover;
  display: flex;
  align-items: end;
}
.img_historia h1 {
  background-color: #b70f0a;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  width: 250px;
  text-align: center;
  padding: 10px 10px;
}
.img_historia h3 {
  display: none;
}

.nuestra-historia_articulo {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  margin-right: 35px;
  padding-top: 10px;
  padding-bottom: 20px;
  gap: 15px;
  font-family: "Lato", sans-serif;
}
.nuestra-historia_articulo h2 {
  font-size: 24px;
  color: #232222;
  text-align: center;
}
.nuestra-historia_articulo p {
  color: #606060;
}
.nuestra-historia_articulo span {
  color: #232222;
  text-align: center;
  font-weight: 900;
}

.img_james-marcus {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

@media (min-width: 768px) {
  .nuestra-historia_articulo {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
  }
  .img_historia {
    height: 250px;
    margin-bottom: 10px;
  }
  .img_james-marcus {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .nuestra-historia_contendedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nuestra-historia_titulo {
    display: block;
    width: 62.5vw;
    min-width: 1100px;
    max-width: 1200px;
  }
  .nuestra-historia_titulo h1 {
    width: 62.5vw;
    min-width: 1100px;
    max-width: 1200px;
    font-family: "Lato", sans-serif;
    font-size: 48px;
    color: #b70f0a;
    border-bottom: #969696 solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .img_historia {
    width: 62.5vw;
    min-width: 1100px;
    max-width: 1200px;
    height: 500px;
    align-items: baseline;
    padding-left: auto;
    padding-right: auto;
    margin-top: 40px;
  }
  .img_historia h1 {
    display: none;
  }
  .img_historia h3 {
    display: block;
    width: 362px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 48px;
    font-weight: normal;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding-left: 70px;
    padding-top: 50px;
  }
  .nuestra-historia_articulo {
    max-width: 1000px;
    margin-bottom: 50px;
    gap: 20px;
  }
  .nuestra-historia_articulo h2 {
    font-size: 30px;
  }
}
.nuestras-noticias {
  display: none;
}
.nuestras-noticias_img {
  display: flex;
  align-items: end;
  max-width: 100%;
  height: 30vh;
  background-image: url("../img/spencer.png");
  background-size: cover;
  background-position: 0px -20px;
}
.nuestras-noticias_img h1 {
  background-color: #b70f0a;
  font-family: Arial, Helvetica, sans-serif;
  width: 250px;
  text-align: center;
  padding: 10px 10px;
  color: white;
}
.nuestras-noticias_texto {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nuestras-noticias_texto-principal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nuestras-noticias_secundaria {
  display: none;
}
.nuestras-noticias_principal {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  margin-right: 35px;
  font-family: "Lato", sans-serif;
}
.nuestras-noticias_principal img {
  width: 100%;
}
.nuestras-noticias_principal h2 {
  font-size: 24px;
  color: #232222;
}
.nuestras-noticias_principal p {
  color: #606060;
}
.nuestras-noticias_principal span {
  color: #606060;
  font-weight: 900;
}
.nuestras-noticias_grande {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 50px;
}
.nuestras-noticias_bordes {
  padding-top: 50px;
  border-top: solid #969696 1px;
  padding-bottom: 50px;
}
.nuestras-noticias_primera {
  background-image: url(/img/adnnoticia.jpg);
  background-size: cover;
  max-width: 100%;
  height: 25vh;
}
.nuestras-noticias_segunda {
  background-image: url(/img/evolucionnoticia.jpg);
  background-size: cover;
  max-width: 100%;
  height: 25vh;
}
.nuestras-noticias_tercera {
  background-image: url(/img/insectosnoticia.jpg);
  background-size: cover;
  max-width: 100%;
  height: 25vh;
}

@media (min-width: 768px) {
  .nuestras-noticias_img {
    height: 40vh;
  }
  .nuestras-noticias_img h1 {
    background-color: #b70f0a;
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    text-align: center;
    padding: 10px 10px;
    color: white;
  }
  .nuestras-noticias_principal {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
  }
  .nuestras-noticias_bordes {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .nuestras-noticias_primera {
    width: 40%;
    height: 200px;
    background-position: center;
  }
  .nuestras-noticias_segunda {
    width: 40%;
    height: 200px;
    background-position: center;
  }
  .nuestras-noticias_tercera {
    width: 40%;
    height: 200px;
    background-position: center;
  }
  .nuestras-noticias_texto {
    width: 60%;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  .nuestras-noticias_img {
    height: 500px;
    background-position-y: center;
  }
}
@media (min-width: 1200px) {
  .nuestras-noticias {
    display: block;
    width: 62.5vw;
    min-width: 1100px;
    max-width: 1200px;
  }
  .nuestras-noticias h1 {
    width: 62.5vw;
    min-width: 1100px;
    max-width: 1200px;
    font-family: "Lato", sans-serif;
    font-size: 48px;
    color: #b70f0a;
    border-bottom: #969696 solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
  }
  .nuestras-noticias_contenedor {
    width: 62.5vw;
    min-width: 1100px;
    max-width: 1200px;
    display: flex;
    gap: 50px;
    padding-left: auto;
    padding-right: auto;
  }
  .nuestras-noticias_main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nuestras-noticias_principal {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 70%;
  }
  .nuestras-noticias_secundaria {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  .nuestras-noticias_secundaria img {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .nuestras-noticias_secundaria h2 {
    font-family: "Lato", sans-serif;
    color: #b70f0a;
    border-bottom: solid 1px #969696;
    padding-bottom: 10px;
    font-size: 30px;
  }
  .nuestras-noticias_secundaria article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;
    border-bottom: solid 1px #969696;
    margin-bottom: 30px;
  }
  .nuestras-noticias_secundaria article h3 {
    font-family: "Lato", sans-serif;
  }
  .nuestras-noticias_secundaria article span {
    font-family: "Lato", sans-serif;
    color: #606060;
    font-weight: 900;
  }
  .nuestras-noticias_img {
    width: 40%;
    height: 200px;
    background-position: center;
  }
  .nuestras-noticias_img h1 {
    display: none;
  }
  .nuestras-noticias_grande {
    display: flex;
    flex-direction: row;
  }
  .nuestras-noticias_texto-principal {
    width: 60%;
  }
}
.companias {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  margin-right: 35px;
  font-family: "Lato", sans-serif;
}
.companias article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: solid #969696 1px;
}
.companias p {
  color: #606060;
}
.companias_img {
  background-image: url(../img/edificio.jpg);
  width: 100%;
  height: 208px;
  background-size: cover;
  display: flex;
  align-items: end;
}
.companias_img h1 {
  background-color: #b70f0a;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  width: 250px;
  text-align: center;
  padding: 10px 10px;
}
.companias_img h3 {
  width: 350px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 48px;
  font-weight: normal;
  font-style: italic;
  color: white;
  text-shadow: 2px 2px 4px rgb(31, 25, 25);
  padding-left: 100px;
  padding-top: 100px;
  display: none;
}
.companias_titulo {
  display: none;
}
.companias_escritorio {
  display: none;
}
.companias_escritorio-top {
  display: none;
}
.companias_movil {
  background-color: #b70f0a;
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  width: 250px;
  text-align: center;
  padding: 10px 10px;
}
.companias_articulo {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
  margin-left: 35px;
  gap: 10px;
  font-family: "Lato", sans-serif;
  padding-top: 20px;
  padding-bottom: 50px;
}
.companias_articulo h2 {
  color: #232222;
}
.companias_articulo p {
  color: #606060;
}
.companias_descripcion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.companias_farmaceutica {
  display: flex;
  align-items: end;
  background-image: url(../img/farmaceutica.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
}
.companias_medico {
  display: flex;
  align-items: end;
  background-image: url(../img/equipomedico.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
}
.companias_industrias {
  display: flex;
  align-items: end;
  background-image: url(../img/industrias.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
}
.companias_paraguas {
  display: flex;
  align-items: end;
  background-image: url(/img/img_paraguas.jpg);
  background-size: cover;
  background-position: left;
  height: 200px;
}

@media (min-width: 768px) {
  .companias {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
  }
  .companias article {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .companias_img {
    height: 250px;
  }
  .companias_descripcion {
    width: 70%;
  }
  .companias_escritorio {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: solid #969696 1px;
    color: #b70f0a;
  }
  .companias_escritorio-top {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #b70f0a;
  }
  .companias_movil {
    color: transparent;
    background-color: transparent;
  }
  .companias_articulo {
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 30px;
    border-bottom: solid #969696 1px;
  }
  .companias_farmaceutica {
    width: 30%;
  }
  .companias_medico {
    width: 30%;
  }
  .companias_industrias {
    width: 30%;
  }
  .companias_paraguas {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .companias {
    width: 62.5vw;
    min-width: 1100px;
    max-width: 1200px;
    display: flex;
    padding-left: auto;
    padding-right: auto;
  }
  .companias_contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .companias_img {
    width: 62.5vw;
    min-width: 1100px;
    max-width: 1200px;
    height: 500px;
    align-items: baseline;
    padding-left: auto;
    padding-right: auto;
  }
  .companias_img h1 {
    display: none;
  }
  .companias_img h3 {
    display: block;
  }
  .companias_top {
    width: 62.5vw;
    min-width: 1100px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding-left: auto;
    padding-right: auto;
  }
  .companias_titulo {
    display: block;
    width: 62.5vw;
    min-width: 1100px;
    max-width: 1200px;
  }
  .companias_titulo h1 {
    width: 62.5vw;
    min-width: 1100px;
    max-width: 1200px;
    font-family: "Lato", sans-serif;
    font-size: 48px;
    color: #b70f0a;
    border-bottom: #969696 solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
  }
  .companias_articulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .companias_articulo h3 {
    font-size: 24px;
  }
  .companias_escritorio-top {
    font-size: 30px;
  }
  .companias_escritorio {
    font-size: 30px;
  }
}
.seguridad {
  background-color: #000000;
}
.seguridad_titulo-principal {
  display: none;
}
.seguridad_titulos {
  display: none;
}
.seguridad_titulos-moviles {
  background-color: #b70f0a;
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  width: 200px;
  text-align: center;
  padding: 10px 10px;
}
.seguridad_img {
  width: 100%;
  height: 208px;
  background-image: url(../img/seguridad.jpg);
  background-size: cover;
  display: flex;
  align-items: end;
}
.seguridad_img h3 {
  width: 350px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 48px;
  font-weight: normal;
  font-style: italic;
  color: white;
  text-shadow: 2px 2px 4px rgb(31, 25, 25);
  padding-left: 100px;
  padding-bottom: 50px;
  display: none;
}
.seguridad_img h1 {
  background-color: #b70f0a;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  width: 250px;
  text-align: center;
  padding: 10px 10px;
}
.seguridad_descripcion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 35px;
  margin-right: 35px;
  color: #e2e2e2;
  padding-top: 10px;
  padding-bottom: 50px;
  font-family: "Lato", sans-serif;
  border-bottom: solid #969696 1px;
}
.seguridad_principal {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  margin-right: 35px;
  font-family: "Lato", sans-serif;
}
.seguridad_principal article {
  font-family: "Lato", sans-serif;
  color: #e2e2e2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: solid #969696 1px;
}
.seguridad_entrenamiento {
  display: flex;
  align-items: end;
  background-image: url(../img/entrenamiento.jpg);
  background-size: cover;
  height: 200px;
}
.seguridad_vehiculos {
  display: flex;
  align-items: end;
  background-image: url(../img/vehiculo.jpg);
  background-size: cover;
  height: 200px;
}
.seguridad_equipo {
  display: flex;
  align-items: end;
  background-image: url(../img/armamento.jpg);
  background-size: cover;
  height: 200px;
}
.seguridad_unete {
  margin-left: 35px;
  margin-right: 35px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Lato", sans-serif;
  color: #e2e2e2;
  text-align: center;
  margin-top: 50px;
}
.seguridad_unete h2 {
  color: #c71711;
}

.video-responsive {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .seguridad_principal {
    margin-left: 50px;
    margin-right: 50px;
  }
  .seguridad_img {
    height: 250px;
  }
  .seguridad_descripcion {
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .seguridad_titulos {
    display: block;
  }
  .seguridad_titulos-moviles {
    display: none;
  }
  .seguridad_texto {
    width: 60%;
  }
  .seguridad_entrenamiento {
    width: 40%;
  }
  .seguridad_vehiculos {
    width: 40%;
  }
  .seguridad_equipo {
    width: 40%;
  }
  .seguridad_unete h2 {
    font-size: 30px;
  }
  .seguridad article {
    flex-direction: row;
    gap: 20px;
  }
  .seguridad article h2 {
    color: #c71711;
    padding-bottom: 10px;
  }
  .video-responsive {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .seguridad {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seguridad_top {
    width: 62.5vw;
    min-width: 1100px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding-left: auto;
    padding-right: auto;
  }
  .seguridad_titulo-principal {
    display: block;
    width: 62.5vw;
    min-width: 1100px;
    max-width: 1200px;
    font-family: "Lato", sans-serif;
    font-size: 48px;
    color: #c71711;
    border-bottom: #969696 solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
  }
  .seguridad_img {
    height: 500px;
  }
  .seguridad_img h1 {
    display: none;
  }
  .seguridad_img h3 {
    display: block;
  }
  .seguridad_descripcion {
    margin-left: 0px;
    margin-right: 0px;
  }
  .seguridad_principal {
    width: 62.5vw;
    min-width: 1100px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding-left: auto;
    padding-right: auto;
  }
  .seguridad_texto {
    width: 70%;
  }
  .seguridad_entrenamiento {
    width: 30%;
  }
  .seguridad_vehiculos {
    width: 30%;
  }
  .seguridad_equipo {
    width: 30%;
  }
  .seguridad_unete {
    width: 50%;
    min-width: 800px;
  }
}

/*# sourceMappingURL=estilos.css.map */
