.companias {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-right: 35px;
    font-family: $ff-principal;

    article {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
        border-top: solid $c-gris 1px;
    }

    p {
        color: $c-gris;
    }

    &_img {

        background-image: url(../img/edificio.jpg);
        width: 100%;
        height: 208px;
        background-size: cover;
        display: flex;
        align-items: end;

        h1 {
            background-color: $c-rojo;
            color: $c-blanco;
            font-size: 16px;
            font-family: $ff-titulos_movil;
            width: 250px;
            text-align: center;
            padding: 10px 10px;
        }

        h3 {
            width: 350px;
            font-family: $ff-lema;
            font-size: 48px;
            font-weight: normal;
            font-style: italic;
            color: $c-blanco;
            text-shadow: 2px 2px 4px $c-negrob;
            padding-left: 100px;
            padding-top: 100px;
            display: none;
        }
    }

    &_titulo {
        display: none;
    }

    &_escritorio {
        display: none;
    }

    &_escritorio-top {
        display: none;
    }

    &_movil {
        background-color: $c-rojo;
        color: $c-blanco;
        font-size: 14px;
        font-family: $ff-titulos_movil;
        width: 250px;
        text-align: center;
        padding: 10px 10px;
    }

    &_articulo {
        display: flex;
        flex-direction: column;
        margin-right: 35px;
        margin-left: 35px;
        gap: 10px;
        font-family: $ff-principal;
        padding-top: 20px;
        padding-bottom: 50px;

        h2 {
            color: $c-negro;
        }

        p {
            color: $c-gris;
        }
    }

    &_farmaceutica {
        display: flex;
        align-items: end;
        background-image: url(../img/farmaceutica.jpg);
        background-size: cover;
        background-position: center;
        height: 200px;
    }

    &_medico {
        display: flex;
        align-items: end;
        background-image: url(../img/equipomedico.jpg);
        background-size: cover;
        background-position: center;
        height: 200px;
    }

    &_industrias {
        display: flex;
        align-items: end;
        background-image: url(../img/industrias.jpg);
        background-size: cover;
        background-position: center;
        height: 200px;
    }

    &_europa {
        display: flex;
        align-items: end;
        background-image: url(../img/europa.jpg);
        background-size: cover;
        background-position: center;
        height: 200px;
    }
}

@media (min-width: 768px) {
    .companias {
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;

        article {
            display: flex;
            flex-direction: row;
            gap: 20px;
            padding-top: 20px;
            padding-bottom: 20px;

            p {
                width:70%;
            }

        }

        &_img {
            height: 250px;
        }

        &_escritorio {
            display: block;
            padding-top: 5px;
            padding-bottom: 5px;
            border-top: solid $c-gris 1px;
            color: $c-rojo;
        }

        &_escritorio-top {
            display: block;
            padding-top: 5px;
            padding-bottom: 5px;
            color: $c-rojo;
        }

        &_movil {
            color: transparent;
            background-color: transparent;

        }

        &_articulo {
            margin-left: 50px;
            margin-right: 50px;
            padding-bottom: 30px;
            border-bottom: solid $c-gris 1px;
        }

        &_farmaceutica {
            width:30%;
        }

        &_medico {
            width:30%;
        }

        &_industrias {
            width:30%;
        }

        &_europa {
            width:30%;
        }

    }
}

@media (min-width: 1200px) {


    .companias {

        min-width: 1100px;
        max-width: 1200px;
        display: flex;
        padding-left: auto;
        padding-right: auto;
        width: 62.5vw;

        &_contenedor {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &_img {
            width: 62.5vw;
            min-width: 1100px;
            max-width: 1200px;
            height: 500px;
            align-items: baseline;
            padding-left: auto;
            padding-right: auto;

            h1 {
                display: none;
            }

            h3 {
                display: block;
            }
        }

        &_top {
            min-width: 1100px;
            max-width: 1200px;
            display: flex;
            flex-direction: column;
            padding-left: auto;
            padding-right: auto;
            width: 62.5vw;
        }

        &_titulo {
            display: block;
            width: 62.5vw;
            min-width: 1100px;
            max-width: 1200px;

            h1 {
                width: 62.5vw;
                min-width: 1100px;
                max-width: 1200px;
                font-family: $ff-principal;
                font-size: 48px;
                color: $c-rojo;
                border-bottom: $c-gris solid 1px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 40px;
            }
        }

        &_articulo {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 0px;
            margin-right: 0px;

            h3 {
                font-size: 24px;
            }
        }
        
        &_escritorio-top {
            font-size: 30px;
        }

        &_escritorio {
            font-size: 30px;
        }

    }
}