.companias {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-right: 35px;
    font-family: $ff-principal;

    article {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
        border-top: solid $c-bordes 1px;
    }

    p {
        color: $c-gris;
    }

    &_img {

        background-image: url(../img/edificio.jpg);
        width: 100%;
        height: 208px;
        background-size: cover;
        display: flex;
        align-items: end;

        h1 {
            background-color: $c-rojo;
            color: $c-blanco;
            font-size: 1rem;
            font-family: $ff-titulos_movil;
            width: 250px;
            text-align: center;
            padding: 10px 10px;
        }

        h3 {
            width: 350px;
            font-family: $ff-lema;
            font-size: 3rem;
            font-weight: normal;
            font-style: italic;
            color: $c-blanco;
            text-shadow: 2px 2px 4px $c-negrob;
            padding-left: 100px;
            padding-top: 100px;
            display: none;
        }
    }

    &_titulo {
        display: none;
    }

    &_escritorio {
        display: none;
    }

    &_escritorio-top {
        display: none;
    }

    &_movil {
        background-color: $c-rojo;
        color: $c-blanco;
        font-size: 0.875rem;
        font-family: $ff-titulos_movil;
        width: 250px;
        text-align: center;
        padding: 10px 10px;
    }

    &_articulo {
        display: flex;
        flex-direction: column;
        margin-right: 35px;
        margin-left: 35px;
        gap: 10px;
        font-family: $ff-principal;
        padding-top: 20px;
        padding-bottom: 50px;

        h2 {
            color: $c-negro;
        }

        p {
            color: $c-gris;
        }
    }

    &_descripcion {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &_farmaceutica {
        display: flex;
        align-items: end;
        background-image: url(../img/farmaceutica.jpg);
        background-size: cover;
        background-position: center;
        height: 200px;
    }

    &_medico {
        display: flex;
        align-items: end;
        background-image: url(../img/equipomedico.jpg);
        background-size: cover;
        background-position: center;
        height: 200px;
    }

    &_industrias {
        display: flex;
        align-items: end;
        background-image: url(../img/industrias.jpg);
        background-size: cover;
        background-position: center;
        height: 200px;
    }

    &_paraguas {
        display: flex;
        align-items: end;
        background-image: url(../img/img_paraguas.jpg);
        background-size: cover;
        background-position: left;
        height: 200px;
    }
}

//TABLET

@media (min-width: 768px) {
    .companias {
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;

        article {
            display: flex;
            flex-direction: row;
            gap: 20px;
            padding-top: 20px;
            padding-bottom: 20px;


        }

        &_img {
            height: 250px;
        }

        &_descripcion {
            width: 70%;
        }

        &_escritorio {
            display: block;
            padding-top: 5px;
            padding-bottom: 5px;
            border-top: solid $c-bordes 1px;
            color: $c-rojo;
        }

        &_escritorio-top {
            display: block;
            padding-top: 5px;
            padding-bottom: 5px;
            color: $c-rojo;
        }

        &_movil {
            display: none;
            background-color: transparent;

        }

        &_articulo {
            margin-left: 50px;
            margin-right: 50px;
            padding-bottom: 30px;
            border-bottom: solid $c-bordes 1px;
        }

        &_farmaceutica {
            width: 30%;
        }

        &_medico {
            width: 30%;
        }

        &_industrias {
            width: 30%;
        }

        &_paraguas {
            width: 30%;
        }

    }
}

//ESCRITORIO

@media (min-width: 1200px) {


    .companias {

        @include contenedor-responsive;
        display: flex;
        padding-left: auto;
        padding-right: auto;


        &_contenedor {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &_img {

            @include contenedor-responsive;
            height: 500px;
            align-items: baseline;
            padding-left: auto;
            padding-right: auto;

            h1 {
                display: none;
            }

            h3 {
                display: block;
            }
        }

        &_top {
            @include contenedor-responsive;
            display: flex;
            flex-direction: column;
            padding-left: auto;
            padding-right: auto;
        }

        &_titulo {
            display: block;
            @include contenedor-responsive;

            h1 {
                @include contenedor-responsive;
                @include titulo-principal;
                color: $c-rojo;
            }
        }

        &_articulo {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 0px;
            margin-right: 0px;

            h3 {
                font-size: 1.5rem;
            }
        }

        &_escritorio-top {
            font-size: 1.875rem;
        }

        &_escritorio {
            font-size: 1.875rem;
        }

    }
}