.nuestra-historia_titulo {
    display: none;
}


.img_historia {
    width: 100%;
    height: 208px;
    background-image: url(../img/imghistoria.png);
    background-size: cover;
    display: flex;
    align-items: end;

    h1 {
        background-color: $c-rojo;
        color: $c-blanco;
        font-size: 1rem;
        font-family: $ff-titulos_movil;
        width: 250px;
        text-align: center;
        padding: 10px 10px;
    }

    h3 {
        display: none;
    }
}

.nuestra-historia_articulo {

    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 10px;
    padding-bottom: 20px;
    gap: 15px;
    font-family: $ff-principal;

    h2 {
        font-size: 1.5rem;
        color: $c-negro;
        text-align: center;
    }

    p {
        color: $c-gris;
    }

    span {
        color: $c-negro;
        text-align: center;
        font-weight: 900;
    }
}


.img_james-marcus {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

// TABLET

@media (min-width: 768px) {
    .nuestra-historia_articulo {
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 10px;
    }

    .img_historia {
        height: 250px;
        margin-bottom: 10px;
    }

    .img_james-marcus {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

// ESCRITORIO

@media (min-width: 1200px) {
    .nuestra-historia_contendedor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nuestra-historia_titulo {
        display: block;
        @include contenedor-responsive;

        h1 {
            @include contenedor-responsive;
            @include titulo-principal;
            color: $c-rojo;
        }
    }


    .img_historia {
        @include contenedor-responsive;
        height: 500px;
        align-items: baseline;
        padding-left: auto;
        padding-right: auto;

        h1 {
            display: none;
        }

        h3 {
            display: block;
            width: 362px;
            font-family: $ff-lema;
            font-size: 3rem;
            font-weight: normal;
            font-style: italic;
            color: $c-blanco;
            text-shadow: 2px 2px 4px #000000;
            padding-left: 70px;
            padding-top: 50px;
        }
    }

    .nuestra-historia_articulo {
        max-width: 1000px;
        margin-bottom: 50px;
        gap: 20px;

        h2 {
            font-size: 1.875rem;
        }
    }

}