.nuestras-noticias {
    display: none;

    &_img {
        display: flex;
        align-items: end;
        max-width: 100%;
        height: 30vh;
        background-image: url("../img/spencer.png");
        background-size: cover;
        background-position: 0px -20px;

        h1 {
            background-color: $c-rojo;
            font-family: $ff-titulos_movil;
            width: 250px;
            text-align: center;
            padding: 10px 10px;
            color: $c-blanco;

        }
    }

    &_texto {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &_texto-principal {
        display: flex;
        flex-direction: column;
        gap: 10px
    }

    &_secundaria {
        display: none;
    }

    &_principal {
        display: flex;
        flex-direction: column;
        margin-left: 35px;
        margin-right: 35px;
        font-family: 'Lato', sans-serif;

        img {
            width: 100%;
        }


        h2 {
            font-size: 24px;
            color: $c-negro;
        }

        p {
            color: $c-gris;
        }

        span {
            color: $c-gris;
            font-weight: 900;
        }
    }

    &_grande {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 50px;
    }

    &_bordes {
        padding-top: 50px;
        border-top: solid $c-bordes 1px;
        padding-bottom: 50px;
    }

    &_primera {
        background-image: url(/img/adnnoticia.jpg);
        background-size: cover;
        max-width: 100%;
        height: 25vh;
    }

    &_segunda {
        background-image: url(/img/evolucionnoticia.jpg);
        background-size: cover;
        max-width: 100%;
        height: 25vh;
    }

    &_tercera {
        background-image: url(/img/insectosnoticia.jpg);
        background-size: cover;
        max-width: 100%;
        height: 25vh;
    }
}

// TABLET

@media (min-width: 768px) {

    .nuestras-noticias {

        &_img {
            height: 40vh;

            h1 {
                background-color: $c-rojo;
                font-family: $ff-titulos_movil;
                width: 250px;
                text-align: center;
                padding: 10px 10px;
                color: $c-blanco;

            }
        }


        &_principal {
            margin-left: 50px;
            margin-right: 50px;
            margin-bottom: 20px;
        }

        &_bordes {
            display: flex;
            flex-direction: row;
            gap: 15px;
        }

        &_primera {
            width: 40%;
            height: 200px;
            background-position: center;
        }

        &_segunda {
            width: 40%;
            height: 200px;
            background-position: center;
        }

        &_tercera {
            width: 40%;
            height: 200px;
            background-position: center;
        }

        &_texto {
            width: 60%;
        }

    }

}

@media (min-width: 768px) and (orientation:landscape) {
    .nuestras-noticias_img {
        height: 500px;
        background-position-y: center;
    }
}

//ESCRITORIO 



@media (min-width: 1200px) {

    .nuestras-noticias {
        display: block;
        @include contenedor-responsive;

        h1 {
            @include contenedor-responsive;
            font-family: $ff-principal;
            font-size: 48px;
            color: $c-rojo;
            border-bottom: $c-bordes solid 1px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 40px;
        }

        &_contenedor {
            @include contenedor-responsive;
            display: flex;
            gap: 50px;
            padding-left: auto;
            padding-right: auto;
        }

        &_main {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &_principal {
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            width: 70%;
        }

        &_secundaria {
            display: flex;
            flex-direction: column;
            width: 30%;

            img {
                margin-top: 30px;
                margin-bottom: 30px;
            }

            h2 {
                font-family: $ff-principal;
                color: $c-rojo;
                border-bottom: solid 1px $c-bordes;
                padding-bottom: 10px;
                font-size: 30px;

            }

            article {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding-bottom: 30px;
                border-bottom: solid 1px $c-bordes;
                margin-bottom: 30px;

                h3 {
                    font-family: $ff-principal;
                }

                span {
                    font-family: $ff-principal;
                    color: $c-gris;
                    font-weight: 900;
                }
            }
        }

        &_img {
            h1 {
                display: none;
            }

            width: 40%;
            height: 200px;
            background-position: center;

        }

        &_grande {
            display: flex;
            flex-direction: row;
        }

        &_texto-principal {
            width: 60%;
        }
    }
}