.seguridad {
    background-color: #000000;

    &_titulo-principal {
        display: none;
    }
    

    &_titulos {
        display: none;
    }

    &_titulos-moviles {
        background-color: $c-rojo;
        color: $c-blanco;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        width: 200px;
        text-align: center;
        padding: 10px 10px;
    }

    &_img {
        width: 100%;
        height: 208px;
        background-image: url(../img/seguridad.jpg);
        background-size: cover;
        display: flex;
        align-items: end;
    
        h3 {
            width: 350px;
            font-family: $ff-lema;
            font-size: 48px;
            font-weight: normal;
            font-style: italic;
            color: $c-blanco;
            text-shadow: 2px 2px 4px $c-negrob;
            padding-left: 100px;
            padding-bottom: 50px;
            display: none;
        }
    
        h1 {
            background-color: $c-rojo;
            color: $c-blanco;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            width: 250px;
            text-align: center;
            padding: 10px 10px;
        }
    }

    &_descripcion {
        margin-left: 35px;
        margin-right: 35px;
        color: $c-bgris;
        padding-top: 10px;
        padding-bottom: 50px;
        font-family: $ff-principal;
        border-bottom: solid $c-bgris 1px;
    }

    &_principal {
        display: flex;
        flex-direction: column;
        margin-left: 35px;
        margin-right: 35px;
        font-family: $ff-principal;

        article {
            font-family: $ff-principal;
            color: $c-bgris;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-top: 50px;
            padding-bottom: 50px;
            border-bottom: solid $c-bgris 1px;
        }
    }

    &_entrenamiento {
        display: flex;
        align-items: end;
        background-image: url(../img/entrenamiento.jpg);
        background-size: cover;
        height: 200px;
    }

    &_vehiculos {
        display: flex;
        align-items: end;
        background-image: url(../img/vehiculo.jpg);
        background-size: cover;
        height: 200px;
    }

    &_equipo {
        display: flex;
        align-items: end;
        background-image: url(../img/armamento.jpg);
        background-size: cover;
        height: 200px;
    }

    &_unete {
        margin-left: 35px;
        margin-right: 35px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family: $ff-principal;
        color: $c-bgris;
        text-align: center;
        margin-top: 50px;

        h2 {
            color: $c-brojo;
        }
    }
}

.video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;

    iframe,
    object,
    embed {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

//TABLET

@media (min-width: 768px) {
    .seguridad {

        &_principal {
            margin-left: 50px;
            margin-right: 50px;
        }
        
        &_img {
            height: 250px;
        }

        &_descripcion {
            padding-top: 20px;
            margin-left: 50px;
            margin-right: 50px;
        }

        &_titulos {
            display: block;
        }

        &_titulos-moviles {
            display: none;
        }

        &_texto {
            width: 60%;
        }

        &_entrenamiento {
            width: 40%;
        }

        &_vehiculos {
            width: 40%;
        }

        &_equipo {
            width: 40%;
        }

        &_unete {
            
            h2 {
                font-size: 30px;
            }
        }

        article {
            flex-direction: row;
            gap: 20px;

            h2 {
                color:$c-brojo;
                padding-bottom: 10px;
            }
        }
    }

    .video-responsive {
        margin-top: 20px;
    }
}

//ESCRITORIO

@media (min-width: 1200px) {

    .seguridad {

        display: flex;
        flex-direction: column;
        align-items: center;

        &_top {
            min-width: 1100px;
            max-width: 1200px;
            display: flex;
            flex-direction: column;
            padding-left: auto;
            padding-right: auto;
            width: 62.5vw;
        }

        &_titulo-principal {
            display: block;
            width: 62.5vw;
            min-width: 1100px;
            max-width: 1200px;
            font-family: $ff-principal;
            font-size: 48px;
            color: $c-brojo;
            border-bottom: $c-gris solid 1px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 40px;
        }

        &_img {
            height: 500px;

            h1 {
                display: none;
            }

            h3 {
                display:block
            }
        }

        &_descripcion {
            margin-left: 0px;
            margin-right: 0px;
        }

        &_principal {
            min-width: 1100px;
            max-width: 1200px;
            display: flex;
            flex-direction: column;
            padding-left: auto;
            padding-right: auto;
            width: 62.5vw;
        }

        &_texto {
            width: 70%;
        }

        &_entrenamiento {
            width: 30%;
        }

        &_vehiculos {
            width: 30%;
        }

        &_equipo {
            width: 30%;
        }

        &_unete {
            width: 50%;
            min-width: 800px;
        }
    }
}